
body{
  background: #E5E7E9;
  font-family: raleway;
}
.container{
  /*width: 50%;*/
  margin: 0 auto;
  background: inherit;
}

/* Navigation Menu */
.nav{
  font-size:21px;
  margin-left: 33%;
}



.form{
  margin: auto;
  position: relative;
  width: 50%;


}

.form-background{
  width: 100%;
  height:auto;
  background: #F8F9F9;
  position: relative;
  display: block;
  padding: 30px;
  margin-top: 35%;
}


/*This is the input group styling */
input{
   border-radius: 2%;
   width: 90%;
   height:30px;
   margin-bottom: 10px;
}
.input-group-addon{
  min-width:74px
}
